$black: #000000;
$white: #ffffff;
$gray: #333;
$gray_2: #ebe9e9;
$gray_light: #eee;
$primary: #20A3DD;
$primary_2: #3db6eb;
$primary_3: #cdeaf7;
$primary_4: #088ac7;
$primary_5: #065174;
$secondary: #FF9800;
$secondary_2: #ffac2e;