:root{
  --white: #fff;
  --primary: #20A3DD;
  --scecondary: #FF9800;
  --tertiary: linear-gradient(-90deg, #B465FE, #20A3DD);

}


.card{
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: var(--primary);
  color: var(--tertiary);
  height: 22rem;
}

.gradText{
  background: linear-gradient(-90deg, #B465FE, #20A3DD);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}