.properties {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
  }

  & h3 {
    text-align: center;
    color: $white;
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 2rem;
    border-bottom: 1px solid rgba($color: $primary, $alpha: 0.2);
  }

  &__sidebar {
    width: 30%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    & h4 {
      color: $primary;
      margin-bottom: 1rem;
      font-size: 1.7rem;
      border-bottom: 1px solid rgba($color: $primary, $alpha: 0.2);
    }

    &-type > div,
    &-building > div,
    &-filter > div {
      margin-top: 1.5rem;
    }

    & label {
      margin: 0 1rem;
      cursor: pointer;
    }

    & input[type="checkbox"],
    & select {
      cursor: pointer;
    }

    & input[type="text"],
    & input[type="number"],
    & select {
      border-radius: 0.5rem;
      padding: 0.4rem;
      width: 12rem;
      outline: none;
      border: 0.2px solid #ccc;
    }

    & input[type="range"]{
      display: inline-block;
    }

    &-filter,
    &-sort {
      & label {
        margin-left: 0;
      }
    }
  }

  &__main {
    width: 70%;
    border-left: 1px solid #ccc;
    background: $gray-light;
    padding: 8rem 5rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
  }

  // Carousel Styles
  &__detail {
    &-carousel {
      width: 100%;
      height: 60rem;
      object-fit: cover;
      margin-top: 10rem;
    }

    &-group {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 1.5rem 0 3rem;
    }

    &-wrapper {
      transform: scale(1);
      transition: transform 0.3s ease-in;
    }

    &-animate {
      border: 2px solid $primary;
      transform: scale(1.2);
    }

    &-thumbnail {
      cursor: pointer;
      width: 150px;
      height: 100px;
      object-fit: cover;
    }
  }

  //
  &__feature {
    overflow: hidden;
    width: 100%;
    margin: 2rem 0 8rem;

    &-stat {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      justify-items: center;
      align-items: center;
      max-height: 100%;
      color: #333;
    }

    h5 {
      color: $primary;
      border-bottom: 1px solid $primary;
      font-size: 2rem;
      font-weight: 400;
      margin: 5rem 0 1rem;
    }

    &-list {
      margin: 1rem 0 8rem;

      & ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      & li {
        &::before {
          content: "\2713";
          display: inline;
          color: $white;
          background: $primary;
          border-radius: 100px;
          padding: 0.5rem 1rem;
          margin-right: 0.3rem;
        }
      }

      & .newLine{
        li {
          &::before {
            display: block;
          }
        }
      }
    }


  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 20px 0 0;
  width: 50%;
  position: relative;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $primary;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
  
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}


input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $primary;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}


input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: $primary;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $primary;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

input[type=range] + span{
  font-size: 2rem;
  
  
  
}