.listing{
  background: $gray_light;
  padding: 1rem;

  &__title{
    color: $primary;
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    margin: 2.5rem 0;
  }

  &__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 6rem;
    align-items: center;

    @include media("<=700px"){
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }
  }

  & .btn{
    display: block;
    margin: 5rem auto;
  }
}



.listing-card{
  background: $white;
  border-radius: 1rem;
  box-shadow: 0 10px 6px -6px #777;
  overflow: hidden;
  cursor: pointer;
  width: 30rem;
  height: 32rem;

  &__img{
    width: 100%;
    object-fit: cover;
    height: 15rem;
    margin-bottom: 2rem;
  }

  &__content{
    text-align: center;
  }

  &__title{
    font-size: 2rem;
    font-weight: 400;
    color: $primary;
    margin-bottom: 2rem;
  }

  &__stat{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    max-height: 100%;
    color: $gray;
  }

  &__amount{
    font-weight: 700;
    color: $primary;
    margin: 1.5rem auto;
  }

  
}